Package: jp.i4m1k0su.undertimex
Name: UnderTimeX
Depends: firmware (>= 11), mobilesubstrate
Conflicts: com.neinzedd9.dateundertimex, jp.i4m1k0su.freeramundertimex
Replaces: jp.i4m1k0su.freeramundertimex
Version: 1.0.0
Architecture: iphoneos-arm
Description: Adds details under the status bar clock on iPhone X.
Maintainer: i4M1k0SU <i4m1k0su@i4m1k0.su>
Author: i4M1k0SU <i4m1k0su@i4m1k0.su>
Section: Tweaks
